<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="start_robot" default="false"/>
    <arg name="auto_emergency" default="false"/>
    <arg name="prior_collision" default="true"/>
    <include file="$(find smb_gazebo)/launch/smb_gazebo.launch">
        <!-- <arg name="world_file" value="$(find smb_gazebo)/worlds/big_map_summer_school.world"/> -->
        <arg name="world_file" value="$(find smb_gazebo)/worlds/singlePillar.world"/>
    </include>

    <node name="smb_hl_ctrl" pkg="smb_highlevel_controller" type="smb_highlevel_controller" output="screen" >
        <rosparam  command="load" file="$(find smb_highlevel_controller)/config/default.yaml" />
    </node>
    <node name="rviz" pkg="smb_description" type="smb_description" output="screen" />
    <!-- <node name="rll" pkg="rqt_logger_level" type="rqt_logger_level" output="screen" />    -->
</launch>